@import '~bootstrap/dist/css/bootstrap.css';
.card{
    border-radius: 10px;
    border-color: black;
    border: 3px solid;
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.imagen{
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}
.principal{
    padding: 1%;
    width: 30%;
}
.hola{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.titulo{
    text-align: center;
    color: white;
    padding: 0.5%;
    width: 90%;
    height: 100%;
    text-decoration: none;
}
a.btn-primary{
    width: 37%;
}
.adios{
    margin-bottom: 3%;
}
.nav-header{
    display: flex;
    flex-direction: column;
}
.bienvenida {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 17rem;
}